---
interface Props {
  title: string;
  image: string;
  description: Array<{ step: string; content: string }>;
}

const { title, image, description } = Astro.props;
---

<div>
  <h3>{title}</h3>
  <img src={image} alt={title} />
  <button class="border border-gray-300 p-4">
    {
      description.map((item) => (
        <button>
          <p>{item.step}</p>
          <p>{item.content}</p>
        </button>
      ))
    }
  </button>
</div>
