---
/* src/components/layout/Section.astro
   Props:
     - id?: string
     - variant?: "plain" | "accent" (default "plain")
     - width?: "narrow" | "content" | "wide" | "full" (default "content")
     - align?: "left" | "center" (default "left")
     - pad?: "sm" | "md" | "lg" (default "md")
*/
import Container from "./Container.astro";

interface Props {
  id?: string;
  variant?: "plain" | "accent";
  width?: "narrow" | "content" | "wide" | "full";
  align?: "left" | "center";
  pad?: "sm" | "md" | "lg";
  eyebrow?: string;
  title?: string;
  subtitle?: string;
}

const {
  id,
  variant = "plain",
  width = "content",
  align = "left",
  pad = "md",
  eyebrow,
  title,
  subtitle,
} = Astro.props as Props;

const pads = {
  sm: "py-[calc(var(--spacing-l)*2)]", // ~32px si --spacing-l=16px
  md: "py-[calc(var(--spacing-l)*4)]", // ~64px
  lg: "py-[calc(var(--spacing-l)*6)]", // ~96px
}[pad];

const bg =
  variant === "accent"
    ? "bg-[var(--color-neutral-100)]"
    : "bg-[var(--color-white)]";

const textAlign = align === "center" ? "text-center" : "text-left";
---

<section id={id} class={`${pads} ${bg}`}>
  <Container width={width}>
    <div class={`${textAlign}`}>
      <div class="flex flex-col gap-2 items-center">
        {eyebrow && <h3 class="ty-subtitle">{eyebrow.toUpperCase()}</h3>}
        {title && <h1 class="ty-large-title">{title}</h1>}
        {subtitle && <h2 class="ty-body-1 ">{subtitle}</h2>}
      </div>
      <slot name="header" />
      <!-- Contenido libre -->
      <slot />
    </div>
  </Container>
</section>
